<?xml version="1.0"?>
<Config>
	<!-- Add UNC path to HP BCU files -->
	<HPBCUPath>\\SERVER\SHARE$\OSD\BIOSSETTINGS</HPBCUPath>	
	<!-- Enter the name of your password.bin file -->
	<PWDFileName>Password</PWDFileName>	
	<!-- enter the extension you use for your BIOS Config files, eg .REPSET or .txt-->
	<FileExt>.REPSET</FileExt>
	<!-- HP BCU Commandline, /Set or /Get HP BIOS Config-->
	<SetGet>Set</SetGet>
	<!-- If "Get", enter the path to the folder where you want the config file saved-->
	<GetPath>\\SERVER\SHARE$\OSD\BIOSSETTINGS\GET</GetPath>
</Config>
